<%= simple_form_for [current_user,@jobseeker_resume] do |f| %>
  <div class="form-group">
    <%= f.input :gender, as: :radio_buttons, collection: [ ['男', 1], ['女',2] ], required: true, label: "性别" %>
    <%= f.input :birth, label: "出生日期", input_html: { class: "form-control"} %>
    <%= f.input :tel, label: "联系电话", input_html: { class: "form-control"} %>
    <%= f.input :email, label: "E-mail", input_html: { class: "form-control"} %>
  </div>
  <div class="form-actions">
    <%= f.submit "保存", disable_with: "Submiting...", class: "btn btn-primary"%>
  </div>
<% end %>
